@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@500&family=Playfair+Display&display=swap");

.contacts__hero {
  height: 100vh;
  background: url("https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e397f7601fbdb500b2db72f_GettyImages-508069545-p-1600.jpeg")
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

form {
  background-color: transparent;
}

input {
  border: none;
  background-color: #eaedf2;
  padding: 1rem;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  outline: none;
}

label {
  color: #235a52;
  font-size: 0.96rem;
  font-weight: 600;
  margin: 0.5rem 0;
  font-family: "Lato", sans-serif;
}

.name__container {
  display: flex;
  gap: 1rem;
}

.first__name__container,
.last__name__container,
.email__container,
.phone__container,
.message__container {
  margin: 0.2rem 0;
  display: flex;
  flex-direction: column;
}

.message {
  height: 200px;
  border: none;
  background-color: #eaedf2;
  padding: 1rem;
  border-radius: 5px;
  color: #000;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  outline: none;
}

.send__message {
  cursor: pointer;
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #3c5ccf;
  width: 100%;
  padding: 1rem 0;
}

.contact__fill {
  margin-top: 4rem;
  background-color: transparent;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.contacts__container {
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  padding: 7rem 4rem;
}

.contacts__span {
  color: #3c5ccf;
  font-size: 1.2rem;
}

.contacts__header {
  margin: 1.5rem 0 3rem 0;
  max-width: 500px;
  line-height: 60px;
  color: #000;
  font-weight: 500;
  font-size: clamp(1.5rem, 8vw, 3.8rem);
}

.contacts__unork:hover::before {
  max-width: 170px;
}

@media screen and (max-width: 1023px) {
  .contacts__container {
    flex-direction: column;
    padding: 7rem 2rem;
  }

  .contacts__left {
    text-align: center;
  }

  .contacts__header {
    max-width: 100%;
  }

  .contacts__right {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .name__container {
    flex-direction: column;
  }

  .contacts__right {
    margin: 0;
  }
}
