@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@500&family=Playfair+Display&display=swap");
body {
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
}

.home__hero {
  background: url("https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e3f543f85059f6bf67849f5_palm-trees-at-night-258154-p-1600.jpeg") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.home__overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(0%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.75)));
}

.hero__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 10rem;
  position: relative;
  z-index: 2;
}
.hero__content span {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.725rem;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
}
.hero__content h1 {
  font-size: 4.5rem;
  max-width: 720px;
  font-weight: 400;
  letter-spacing: -0.1vw;
}
.hero__content .get__to__know {
  margin-top: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #96772c;
  font-size: 0.725rem;
  letter-spacing: 0.2rem;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.hero__content .get__to__know:hover {
  background-color: #235a52;
  transition: 0.3s ease;
}

.rooms__section {
  padding: 12rem 2rem 15rem 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.rooms__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room__left span {
  text-transform: uppercase;
}
.room__left h2 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.4em;
  width: 655px;
}

.room__link {
  background-color: #000;
  padding: 1.5rem 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #fff !important;
  transition: 0.3s ease;
}
.room__link:hover {
  background-color: #235a52;
}

.rooms__suites__container {
  margin: 10rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.rooms__suites {
  text-align: center;
}
.rooms__suites h3 {
  color: #96772c;
  margin: 1rem 0;
  font-weight: 400;
  font-size: 2rem;
}
.rooms__suites p {
  margin: 1rem 0;
  font-family: "Lato", sans-serif;
  color: #636363;
}
.rooms__suites span {
  color: #235a52;
}

.dine__img {
  margin: 0;
}

.dine__content {
  text-align: center;
  background-color: #eaedf2;
  padding: 0 0 15rem 0;
}

.dine__left span {
  text-transform: uppercase;
}
.dine__left h2 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.4em;
  margin: 0 auto;
  width: 655px;
}

.dine__right {
  margin: 5rem 0;
}

.dine__suites__container {
  padding: 10rem 2rem 5rem 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.about__section {
  padding: 7rem 0 0 0;
  background-color: #eaedf2;
}

.about__content {
  text-align: center;
}
.about__content span {
  text-transform: uppercase;
  color: #235a52;
  font-size: 0.725rem;
  letter-spacing: 0.2rem;
}
.about__content h2 {
  font-weight: 400;
  line-height: 4rem;
  margin: 4rem auto;
  letter-spacing: -0.1vw;
  width: 950px;
  font-size: 3rem;
}
.about__content .learn__more {
  color: #96772c;
  border: none;
  border-bottom: 1px solid #96772c;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.725rem;
  letter-spacing: 0.2rem;
  padding: 0.5rem 0;
}
.about__content .learn__more:hover {
  color: #235a52;
  border-bottom: 1px solid #235a52;
  transition: 0.3s ease;
}

.about__image,
.dine__img {
  margin: 8rem 0 0 0;
  width: 100%;
  height: 600px;
}
.about__image img,
.dine__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #96772c;
  padding: 7rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p {
  font-family: Lato, sans-serif;
  font-size: 1.1rem;
  max-width: 550px;
  margin: 2rem;
  color: hsla(0, 0%, 100%, 0.5);
}

.footer__logo {
  margin: 0 auto;
  text-align: center;
}
.footer__logo img {
  width: 300px;
}

.footer__contact {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  font-size: 0.725rem;
  letter-spacing: 0.2rem;
  color: #96772c;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-family: Lato, sans-serif;
  max-width: 200px;
}
.footer__contact:hover {
  background-color: #235a52;
  color: #fff;
}

.footer__nav {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 4rem 0;
}
.footer__nav nav ul li {
  display: flex;
  margin: 5rem 5rem;
}
.footer__nav nav ul li .footer__router {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  padding: 0 2rem;
  letter-spacing: -0.1rem;
}
.footer__nav nav ul li .footer__router:hover {
  color: #235a52;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.footer__socials span {
  color: hsla(0, 0%, 100%, 0.5);
}
.footer__socials a {
  list-style: none;
  text-decoration: none;
  padding: 0 1rem;
  font-family: Lato, sans-serif;
  color: #eaedf2;
}
.footer__socials a a:hover {
  color: #235a52;
}

.dine__hero {
  background: url("https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e3f566985059f02d1785d5d_chef-preparing-vegetable-dish-on-tree-slab-1267320-p-1600.jpeg") no-repeat center !important;
  background-size: cover !important;
  height: 100vh;
}/*# sourceMappingURL=style.css.map */