@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@500&family=Playfair+Display&display=swap");
body {
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  padding: 1.5rem 2rem;
  display: flex;
  border-bottom: 1px solid rgb(201, 200, 200);
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

nav ul {
  display: flex;
}
nav li {
  list-style: none;
}
nav .router__link {
  font-size: 0.725rem;
  color: #fff;
  letter-spacing: 0.1rem;
  padding: 0 1rem;
}

.router__link {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h1 {
  color: white;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

span,
button {
  font-family: "Lato", sans-serif !important;
}

button {
  cursor: pointer;
}

.home__hero, .contacts__hero, .dine__hero, .stay__hero {
  background: url("https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e3f543f85059f6bf67849f5_palm-trees-at-night-258154-p-1600.jpeg") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.home__overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(0%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.75)));
}

.hero__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 10rem;
  position: relative;
  z-index: 2;
}
.hero__content span {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.725rem;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
}
.hero__content h1 {
  font-size: 4.5rem;
  max-width: 720px;
  font-weight: 400;
  letter-spacing: -0.1vw;
}
.hero__content .get__to__know {
  margin-top: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #96772c;
  font-size: 0.725rem;
  letter-spacing: 0.2rem;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.hero__content .get__to__know:hover {
  background-color: #235a52;
  transition: 0.3s ease;
}

.about__section, .stay__about__section {
  padding: 7rem 0 0 0;
  background-color: #eaedf2;
}

.about__content {
  text-align: center;
}
.about__content span {
  text-transform: uppercase;
  color: #235a52;
  font-size: 0.725rem;
  letter-spacing: 0.2rem;
}
.about__content h2 {
  font-weight: 400;
  line-height: 4rem;
  margin: 4rem auto;
  letter-spacing: -0.1vw;
  width: 950px;
  font-size: 3rem;
}
.about__content .learn__more {
  color: #96772c;
  border: none;
  border-bottom: 1px solid #96772c;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.725rem;
  letter-spacing: 0.2rem;
  padding: 0.5rem 0;
}
.about__content .learn__more:hover {
  color: #235a52;
  border-bottom: 1px solid #235a52;
  transition: 0.3s ease;
}

.about__image,
.dine__img {
  margin: 8rem 0 0 0;
  width: 100%;
  height: 600px;
}
.about__image img,
.dine__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rooms__section {
  padding: 12rem 2rem 15rem 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.rooms__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room__left span {
  text-transform: uppercase;
}
.room__left h2 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.4em;
  width: 655px;
}

.room__link, .more__information {
  background-color: #000;
  padding: 1.5rem 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #fff !important;
  transition: 0.3s ease;
}
.room__link:hover, .more__information:hover {
  background-color: #235a52;
}

.rooms__suites__container {
  margin: 10rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.rooms__suites {
  text-align: center;
}
.rooms__suites h3 {
  color: #96772c;
  margin: 1rem 0;
  font-weight: 400;
  font-size: 2rem;
}
.rooms__suites p {
  margin: 1rem 0;
  font-family: "Lato", sans-serif;
  color: #636363;
}
.rooms__suites span {
  color: #235a52;
}

.dine__img {
  margin: 0;
}

.dine__content {
  text-align: center;
  background-color: #eaedf2;
  padding: 0 0 15rem 0;
}

.dine__left span {
  text-transform: uppercase;
}
.dine__left h2 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.4em;
  margin: 0 auto;
  width: 655px;
}

.dine__right {
  margin: 5rem 0;
}

.dine__suites__container {
  padding: 10rem 2rem 5rem 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

footer {
  background-color: #96772c;
  padding: 7rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p {
  font-family: Lato, sans-serif;
  font-size: 1.1rem;
  max-width: 550px;
  margin: 2rem;
  color: hsla(0, 0%, 100%, 0.5);
}

.footer__logo {
  margin: 0 auto;
  text-align: center;
}
.footer__logo img {
  width: 300px;
}

.footer__contact {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  font-size: 0.725rem;
  letter-spacing: 0.2rem;
  color: #96772c;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-family: Lato, sans-serif;
  max-width: 200px;
}
.footer__contact:hover {
  background-color: #235a52;
  color: #fff;
}

.footer__nav {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 4rem 0;
}
.footer__nav nav ul li {
  display: flex;
  margin: 5rem 5rem;
}
.footer__nav nav ul li .footer__router {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  padding: 0 2rem;
  letter-spacing: -0.1rem;
}
.footer__nav nav ul li .footer__router:hover {
  color: #235a52;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.footer__socials span {
  color: hsla(0, 0%, 100%, 0.5);
}
.footer__socials a {
  list-style: none;
  text-decoration: none;
  padding: 0 1rem;
  font-family: Lato, sans-serif;
  color: #eaedf2;
}
.footer__socials a a:hover {
  color: #235a52;
}

.stay__hero {
  background: url("https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e3f5b6eeb1a906fe628d863_bed-bedroom-blanket-clean-545012-p-1600.jpeg") no-repeat center !important;
  background-size: cover !important;
}

.explore__hotel {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.725rem;
  letter-spacing: 0.2rem;
  background-color: transparent;
  margin-top: 5rem;
  border: none;
  transition: 200ms ease;
}
.explore__hotel:hover {
  color: #000;
}

.stay__about__section {
  background-color: #fff;
  padding-bottom: 10rem;
}

.stay__suites__container {
  padding: 7rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  max-width: 1440px;
  margin: 0 auto;
}

.stay__suites__content {
  display: flex;
  align-items: start;
  gap: 3rem;
}

.stay__suites__content:nth-child(2) {
  flex-direction: row-reverse;
}

.left__suites img {
  width: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

.right__suites {
  width: 50%;
}

.right__top {
  border-bottom: 1px solid #eaedf2;
  margin-bottom: 2rem;
}
.right__top h3 {
  font-size: 3.5rem;
}
.right__top p {
  margin: 2rem 0;
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
}
.right__top .price__container {
  margin: 0 0 2rem 0;
}
.right__top .price__container .price {
  font-family: "Playfair Display", serif !important;
  font-size: 2rem;
}
.right__top .price__container .night {
  font-family: "Oswald", sans-serif;
}

.right__bottom {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.right__bottom .vertical__line {
  height: 40px;
  max-width: 2px;
  background-color: #636363;
}
.right__bottom .description {
  font-size: 0.925rem;
  color: #636363;
}
.right__bottom .description img {
  width: 35px;
  height: 35px;
}

.more__information {
  position: relative;
  top: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.dine__hero {
  background: url("https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e3f566985059f02d1785d5d_chef-preparing-vegetable-dish-on-tree-slab-1267320-p-1600.jpeg") no-repeat center !important;
  background-size: cover !important;
}

.contacts__hero {
  background: url("https://uploads-ssl.webflow.com/5e13a534946b1253f7c522a4/5e397f7601fbdb500b2db72f_GettyImages-508069545-p-1600.jpeg") no-repeat center;
  background-size: cover;
}

form {
  background-color: transparent;
}

input {
  border: none;
  background-color: #eaedf2;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  outline: none;
}

label {
  color: #235a52;
  font-size: 0.96rem;
  font-weight: 600;
  margin: 0.5rem 0;
  font-family: "Lato", sans-serif;
}

.name__container {
  display: flex;
  gap: 1rem;
}

.first__name__container,
.last__name__container,
.email__container,
.phone__container,
.message__container {
  margin: 0.2rem 0;
  display: flex;
  flex-direction: column;
}

.message {
  height: 200px;
  border: none;
  background-color: #eaedf2;
  padding: 1rem;
  border-radius: 5px;
  color: #000;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  outline: none;
}

.send__message {
  cursor: pointer;
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #3c5ccf;
  width: 100%;
  padding: 1rem 0;
}

.contact__fill {
  margin-top: 4rem;
}

.contacts__container {
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  padding: 7rem 4rem;
}

.contacts__span {
  color: #3c5ccf;
  font-size: 1.2rem;
}

.contacts__header {
  margin: 1.5rem 0 3rem 0;
  max-width: 500px;
  line-height: 60px;
  color: #000;
  font-weight: 500;
  font-size: 3.8rem;
}

.contacts__unork:hover::before {
  max-width: 170px;
}/*# sourceMappingURL=style.css.map */